* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;  
}
::-moz-placeholder {
  font-style: italic;  
}
:-ms-input-placeholder {  
  font-style: italic; 
}

body {
  color: black;
}

main {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 0;
  align-items: center;
}

.todo-app {
  border: 1px solid grey;
  box-shadow: 1px 1px 1px;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.item-style {
  border: 1px solid grey;
  padding: 15px;
}

.title {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}

.add-list {
  height: 100%;
  width: 100%;
  border: none;
}

.clear-btn {
  padding: 15px;
  color: gray;
}

.container {
  list-style: none;
}

.task-item {
  display: flex;
  justify-content: space-between;
}

.desc-cont {
  display: flex;
  align-items: baseline;
}

.task-desc {
  padding-left: 15px;
}